version: '3.8'

services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - go-cache:/go/pkg/mod
    ports:
      - "8080:8080"
      - "6379:6379"
      - "2345:2345"
    environment:
      - CGO_ENABLED=0
      - GOOS=linux
      - GOARCH=amd64
      - ENV=development
      - HTTP_PORT=8080
      - TCP_PORT=6379
      - NODE_ID=node1
      - CAPACITY=10000
      - MAX_SIZE_MB=100
    networks:
      - dcache-net

volumes:
  go-cache:

networks:
  dcache-net:
    driver: bridge
